<% @messages.each do |message| %>
  <div class="message">
    <h5>Message by <%= message.author %></h5>   
    <p>
      Message: <a href="/messages/<%= message.id %>"><%= message.content %></a>
    </p>
    <p>
      
    </p>
  </div>
<% end %>

<a href="/messages/new">Post a message... It's FREE (for now)!</a>
