

<p>
  Author: <%= @message.author %>
</p>

<p>
  Message: <%= @message.content %>
</p>

<% if @message.url %>
  <p>
    Link: <a href="http://<%= @message.url %>"><%= @message.url %></a>
  </p>
<% end %>

<hr/>
<a href="/messages">Back to All Messages</a>
